.about {
  padding-top: 94px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-list-item {
  flex-basis: 270px;
}
.about-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}
.about-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.about-item-icon {
  display: flex;
  flex-basis: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}