.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-list-link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color-theme-light);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact-icons {
  margin-right: 10px;
  fill: var(--secondary-text-color-theme-light);

  transition: fill var(--animation-duration) var(--animation-timing-function);

  .header-contact-list-link:hover &,
  .header-contact-list-link:focus & {
    fill: var(--accent-color);
  }
}

.contact-list-link {
  transition: color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
