.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list-item {
  flex-basis: calc((100% - 180px) / 6);
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients-logo-icons {
  fill: #afb1b8;

  transition: fill var(--animation-duration) var(--animation-timing-function);

  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: var(--accent-color);
  }
}
