.address,
.footer-contact-mail,
.footer-contact-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

.footer-contact-address {
  margin-bottom: 9px;
  color: var(--logo-text-color-theme-dark);
}
