.projects-title {
  @include font(18px, 700, 36px);
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 4px;
}

.projects-description {
  @include font(16px, 400, 30px);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}